@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(to right, #cd8b8b 0%, #74b741 100%);
  display: flex; 
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

img{
  max-width: 100%;
}

.mobile-container{
  background: cyan;
  width: 400px;
  box-shadow: 0 0  10px 2px #31a;
  overflow: hidden;
  border-radius: 5px;
}

header{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

header input{
  background-color: #eee;
  border: none;
  border-radius: 3px;
  padding: 0.5rem 1rem;
  font-family: inherit;
}

header button{
  background-color: transparent;
  margin-left: 10px;
  border: none;
  color: red;
  font-size: 1.5rem;
}

.fav-container{
  background-color:#ba5bee ;
  padding: 0.25rem 1rem;
  text-align: center;
}

.fav-meals{
  display: flex;
  list-style-type: none;
  padding: 0;
  flex-wrap: wrap;
  justify-content: center;
}

.fav-meals li{
  margin: 5px;
  width: 85px;
}

.fav-meals li img{
  border-radius: 50%;
  object-fit: cover;
  height: 70px;
  width: 70px;
  border: 1px solid yellow ;
  box-shadow: 0 0 10px 2px rgba(225, 24, 54, 0.719);
}

.fav-meals li span{
  font-size: 0.9rem;
}

.meal{
  border-radius: 5px;
  box-shadow: 0 0 10px 2px rgba(225, 24, 54, 0.719);
  margin: 1.5rem;
  overflow: hidden;
}

.meal-header{
  position: relative;
}

.meal-header .random{
  position: absolute;
  top: 1rem;
  background-color: #fff;
  padding: 0.25rem 1rem;
  border-top-right-radius:5px ;
  border-bottom-right-radius:5px ;
}

.meal-header img{
  height: 250px;
  object-fit: cover;
  width: 100%;
}

.meal-body{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}

.meal-body .fav-btn{
  border: none;
  background-color: transparent;
  font-size: 1.2rem;
  color: rgb(155, 153, 164);
  cursor: pointer;
}

.meal-body .fav-btn.active{
  color: rgb(202, 19, 184);
}