@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  background-color: rgb(53, 42, 179);
}

main{
  display: flex;
  flex-wrap: wrap;
}

.movie{
  margin: 2rem auto;
  width: 300px;
  /* height: 400px; */
  border-radius: 5px;
  box-shadow: 0 0 5px 10px rgba(0, 0, 0, 0.5);
  overflow: hidden;
}
.movie img{
  max-width: 100%;
  max-height: 400px
  object-fit: cover;
}

.movie-info{
  color: rgb(230, 223, 223);
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  letter-spacing: 1px;
  align-items: center;;
}

.movie-info h3{
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.movie-info span{
  background-color: rgb(19, 10, 124);
  padding: 0.25rem 0.5rem;
  border-radius: 5px;
  font-weight: bold;
}

.movie-info span.green{
  color: green;
}
.movie-info span.orange{
  color: orange;
}
.movie-info span.red{
  color: red;
}
